 /* Import the Inter font */
        
        @import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap');
        body {
            font-family: 'Inter', sans-serif;
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            background-color: #202020;
            color: #333;
        }
        
        header {
            background-color: #202020;
            color: #fff;
            padding: 10px 20px;
            border: 3px solid lightgoldenrodyellow;
            border-radius: 100px;
        }
        
        nav ul {
            display: flex;
            list-style: none;
            padding: 0;
            margin: 0;
        }
        
        nav li {
            padding: 6px 15px;
            margin-right: 20px;
            border: 3px solid lightgoldenrodyellow;
            border-radius: 100px;
        }
        
        nav a {
            color: #fff;
            text-decoration: none;
        }
        
        .contact {
            position: absolute;
            right: 4px;
            padding: 6px 15px;
            margin-right: 20px;
            border: 3px solid lightgoldenrodyellow;
            border-radius: 100px;
        }
        
        .container {
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-gap: 20px;
            padding: 20px;
        }
        
        .card {
            background-color: #f5f5f5;
            border-radius: 10px;
            padding: 20px;
            position: relative;
        }
        
        .card.large {
            grid-column: span 2;
        }
        
        .card-header {
            font-size: 12px;
            color: #999;
            text-transform: uppercase;
        }
        
        h2 {
            font-size: 24px;
            margin: 10px 0;
        }
        
        h2 span {
            font-weight: bold;
        }
        
        img {
            width: 100%;
            border-radius: 10px;
        }
        
        .cta-button {
            padding: 10px 20px;
            color: #080505;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            position: relative;
            bottom: 0px;
            transition: transform 0.3s ease, background-color 0.3s ease;
        }
        
        .cta-button:hover {
            transform: scale(1.05);
            background-color: #0056b3;
        }
        /* Responsive Design */
        
        @media (max-width: 768px) {
            .container {
                grid-template-columns: 1fr;
            }
            .card.large {
                grid-column: span 1;
            }
        }
